@charset "utf-8";

/* メニューの見出し */
.menu-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    background-color: gray;
    color: #FFFFFF;
    padding: 10px 10px 10px 40px;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 30px;
}
/* メニューの見出し　ここまで */

/* ヘッダータイトル・ロゴ */
.project-title {
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
}

.project-logo img {
    display: block;
    margin: auto;
    width: 8vw;
}
/* ヘッダータイトル・ロゴ　ここまで */

/* グローバルメニュー */
.gnav-navi-1 {
    background: gray;
    padding: 0;
    text-align: center;
}

.gnav-navi-1 li {
    display: inline-block;
}


.gnav-navi-1 li a {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

.gnav-navi-1 a::first-line {
    font-size: 16px;
    font-weight: bold;
}

.gnav-navi-2 {
    background: gray;
    padding: 0;
    text-align: center;
}

.gnav-navi-2 li {
    display: inline-block;
}


.gnav-navi-2 li a {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

.gnav-navi-2 a::first-line {
    font-size: 16px;
    font-weight: bold;
}


/* グローバルメニュー　ここまで */

/* ユーザー名・ログアウト */
.auth-logout ul {
    text-align: right;
}

.auth-logout ul {
    list-style: none;
}

.auth-logout ul li {
    display: inline-block;
}

.auth-logout ul li:nth-child(2) {
    margin-left: 20px;
    margin-right: 100px;
}

.auth-name a:first-child {
    font-weight: bold;
    font-size: 18px;
}

.logout-button {
    max-width: 250px;
    margin: 0 auto;
}

.logout-button button:hover {
    cursor: pointer;
}

.logout-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    background: black;
    border: 1px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}
/* ユーザー名・ログアウト　ここまで */

/* トップページ　サービス説明 */
.service-contents {
    width: 50%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.service-contents h2 {
    border-left: solid 5px #499292;
    padding: 10px 0px 10px 20px;
    margin: 0px 0px 20px 0px;
    line-height: normal;
    color: #666666;
    background-color: #FCFBFA;
    font-weight: 400;
}
/* トップページ　サービス説明 ここまで */


/* 投稿するページ */
input[type="file"] {
    width: 70%;
    padding: 8px;
}

.stars span{
    display: flex;
    flex-direction: row-reverse; /* 星を逆順に並べる */
    justify-content: center;   /* 逆順なので、左寄せにする */
  }

.stars input[type='radio']{
    display: none;               /* デフォルトのラジオボタンを非表示にする */
}

.stars label{
    color: #D2D2D2;              /* 未選択の星をグレー色に指定 */
    font-size: 30px;             /* 星の大きさを30pxに指定 */
    padding: 0 5px;              /* 左右の余白を5pxに指定 */
    cursor: pointer;             /* カーソルが上に乗ったときに指の形にする */
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
    color: #F8C601;              /* 選択された星以降をすべて黄色にする */
}

.review-delete-button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : red;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid red;    /* 枠の指定 */
}

.review-delete-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : red;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}

.review-send-button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
}

.review-send-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}
/* 投稿するページ　ここまで */

/* 評価一覧 */
.review-list {
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
    width: 90%;
}

.review-list tr {
    border-bottom: solid 1px rgb(225, 218, 218);
}

.review-list th,.review-list td{
    text-align: center;
    width: 13%;
    padding: 15px 0;
  }

  .review-list th {
    background-color: gray;
    color: white;
  }

  .review-list tr td:last-child {
    font-weight: bold;
  }

  .review-list tr td {
    font-size: 14px;
  }

/* .review-list th, td {
    padding: 5px;
    border: 1px solid #333;
}

.review-list th {
    background-color: #2c88d9;
    color: #FFF;
} */

.review-list tr td:nth-child(6) {
    text-align: left;
}

.review-list tr td:nth-child(7) {
    background-color: gray;
    color: white;
    border-bottom: white solid 1px;
}
/* 評価一覧　ここまで */

/* 星評価　表示用 */
.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #cccccc;
}

.star5_rating:before,
.star5_rating:after {
    content: "★★★★★";
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}

.star5_rating[data-rate="5.0"]:after {
    width: 100%;
}
.star5_rating[data-rate="4.9"]:after {
    width: 98%;
}
.star5_rating[data-rate="4.8"]:after {
    width: 96%;
}
.star5_rating[data-rate="4.7"]:after {
    width: 94%;
}
.star5_rating[data-rate="4.6"]:after {
    width: 92%;
}
.star5_rating[data-rate="4.5"]:after {
    width: 90%;
}
.star5_rating[data-rate="4.4"]:after {
    width: 88%;
}
.star5_rating[data-rate="4.3"]:after {
    width: 86%;
}
.star5_rating[data-rate="4.2"]:after {
    width: 84%;
}
.star5_rating[data-rate="4.1"]:after {
    width: 82%;
}
.star5_rating[data-rate="4.0"]:after {
    width: 80%;
}
.star5_rating[data-rate="3.9"]:after {
    width: 78%;
}
.star5_rating[data-rate="3.8"]:after {
    width: 76%;
}
.star5_rating[data-rate="3.7"]:after {
    width: 74%;
}
.star5_rating[data-rate="3.6"]:after {
    width: 72%;
}
.star5_rating[data-rate="3.5"]:after {
    width: 70%;
}
.star5_rating[data-rate="3.4"]:after {
    width: 68%;
}
.star5_rating[data-rate="3.3"]:after {
    width: 66%;
}
.star5_rating[data-rate="3.2"]:after {
    width: 64%;
}
.star5_rating[data-rate="3.1"]:after {
    width: 62%;
}
.star5_rating[data-rate="3.0"]:after {
    width: 60%;
}
.star5_rating[data-rate="2.9"]:after {
    width: 58%;
}
.star5_rating[data-rate="2.8"]:after {
    width: 56%;
}
.star5_rating[data-rate="2.7"]:after {
    width: 54%;
}
.star5_rating[data-rate="2.6"]:after {
    width: 52%;
}
.star5_rating[data-rate="2.5"]:after {
    width: 50%;
}
.star5_rating[data-rate="2.4"]:after {
    width: 48%;
}
.star5_rating[data-rate="2.3"]:after {
    width: 46%;
}
.star5_rating[data-rate="2.2"]:after {
    width: 44%;
}
.star5_rating[data-rate="2.1"]:after {
    width: 42%;
}
.star5_rating[data-rate="2.0"]:after {
    width: 40%;
}
.star5_rating[data-rate="1.9"]:after {
    width: 38%;
}
.star5_rating[data-rate="1.8"]:after {
    width: 36%;
}
.star5_rating[data-rate="1.7"]:after {
    width: 34%;
}
.star5_rating[data-rate="1.6"]:after {
    width: 32%;
}
.star5_rating[data-rate="1.5"]:after {
    width: 30%;
}
.star5_rating[data-rate="1.4"]:after {
    width: 28%;
}
.star5_rating[data-rate="1.3"]:after {
    width: 26%;
}
.star5_rating[data-rate="1.2"]:after {
    width: 24%;
}
.star5_rating[data-rate="1.1"]:after {
    width: 22%;
}
.star5_rating[data-rate="1.0"]:after {
    width: 20%;
}
.star5_rating[data-rate="0.9"]:after {
    width: 18%;
}
.star5_rating[data-rate="0.8"]:after {
    width: 16%;
}
.star5_rating[data-rate="0.7"]:after {
    width: 14%;
}
.star5_rating[data-rate="0.6"]:after {
    width: 12%;
}
.star5_rating[data-rate="0.5"]:after {
    width: 10%;
}
.star5_rating[data-rate="0.4"]:after {
    width: 8%;
}
.star5_rating[data-rate="0.3"]:after {
    width: 6%;
}
.star5_rating[data-rate="0.2"]:after {
    width: 4%;
}
.star5_rating[data-rate="0.1"]:after {
    width: 2%;
}
.star5_rating[data-rate="0.0"]:after {
    width: 0%;
}
/* 星評価表示用 ここまで */

/* 編集・削除ボタン */
.review-format div li {
    display: inline;
}

.review-format div li:first-child {
    margin-right: 100px;
}
/* 編集・削除ボタン　ここまで */

.review-list {
    margin-top: 70px;
}


/* フォーム共用 */
.form {
    margin-bottom: 20px;
    border-bottom: 1px dotted gray;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.form a {
    width: 25%;
    float: left;
    clear: both;
    padding: 5px;
}

.form input:not([type="file"]) {
    border: 1px solid gray;
    width: 70%;
    border-radius: 3px;
    padding: 8px;
}

.form textarea {
    border: 1px solid gray;
    width: 70%;
    border-radius: 3px;
    padding: 8px;
    resize: vertical;
}

.form #search_series {
    border: 1px solid gray;
    width: 70%;
    border-radius: 3px;
    padding: 8px;
}

.btn {
    text-align: center;
}

.btn input {
    display: inline-block;
    width: 30%;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.submit {
    background-color: rgb(71, 71, 71);
    margin-left: 30px;
    color: white;
}

.clear {
    background-color: #DFDFDF;
    font-size: 17px;
}

/* お問い合わせフォーム　必須マーク */
.required {
    margin-left: 0.5em;
    padding: 0px 7px 0px 7px;
    border-radius: 4px;
    font-size: 0.7em;
    color: white;
    background-color: #C44;
    content: "必須";
}

/* バリデーション */
.varidation {
    list-style: none;
    width: 270px;
	margin: auto;
	overflow: hidden;
}

.varidation li {
    color: red;
    float: left;
}

/* ペジネーション */
.pager {
    margin: 40px auto;
    width: 100%; }
    .pager ul {
      display: flex;
      margin-right: 50%; }
      .pager ul li:first-child {
        margin-left: auto; }
      .pager ul li {
        text-align: center;
        font-size: 14px;
        margin: 0 2px;
        line-height: 30px;
        list-style: none; }
        .pager ul li a {
          display: block;
          padding: 0 5px;
          color: #000;
          text-decoration: none;
          border: 1px solid #707070;
          display: block;
          min-width: 30px;
          background: #fff; }
      .pager ul li.current a {
        background: #f0f0f0; }

  @media screen and (max-width: 960px) {
    .pager ul li {
      font-size: 13px; } }
/* ペジネーションここまで */



@media screen and (max-width: 960px) {
    .service-contents {
        width: 90%;
        height: auto;
        margin-top: 100px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-title {
        font-size: 40px;
    }

    .project-logo img {
        width: 20vw;
    }

    .menu-container {
        width: 100%;
    }

    .menu-title {
        padding: 10px 10px;
        text-align: center;
    }

    .review-list {
        width: 220%;
        table-layout: fixed;
    }

    .auth-logout ul li:nth-child(2) {
        margin-right: 65px;
    }

    .logout-button button {
        height: 38px;
        padding: 0px 15px 0px 18px;
    }

    .gnav-navi-1 {
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }


    .gnav-navi-1 li {
        width: 22%;
        font-size: 10px;
    }

    .gnav-navi-1 li:last-child {
        width: 22%;
        font-size: 10px;
        margin-right: 13px;
    }

    .gnav-navi-2 {
        width: 220%;
        text-align: left;
        padding-left: 15px;
    }


    .gnav-navi-2 li {
        width: 10%;
        font-size: 10px;
    }

    .gnav-navi-2 li:last-child {
        width: 22%;
        font-size: 10px;
        margin-right: 13px;
    }

    .form a {
        width: 20%;
    }
}
