@charset "utf-8";

/* メニューの見出し */
.menu-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    background-color: gray;
    color: #FFFFFF;
    padding: 10px 10px 10px 40px;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 30px;
}
/* メニューの見出し　ここまで */

/* ヘッダータイトル・ロゴ */
.project-title {
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
}

.project-logo img {
    display: block;
    margin: auto;
    width: 8vw;
}
/* ヘッダータイトル・ロゴ　ここまで */

/* グローバルメニュー */
ul.gnav-navi-1 {
    background: gray;
    padding: 0;
    text-align: center;
}

ul.gnav-navi-1 li {
    display: inline-block;
}

ul.gnav-navi-1 li a {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

ul.gnav-navi-1 a::first-line {
    font-size: 16px;
    font-weight: bold;
}
/* グローバルメニュー　ここまで */

/* ユーザー名・ログアウト */
.auth-logout ul {
    text-align: right;
}

.auth-logout ul {
    list-style: none;
}

.auth-logout ul li {
    display: inline-block;
}

.auth-logout ul li:nth-child(2) {
    margin-left: 20px;
    margin-right: 100px;
}

.auth-name a:first-child {
    font-weight: bold;
    font-size: 18px;
}

.logout-button {
    max-width: 250px;
    margin: 0 auto;
}

.logout-button button:hover {
    cursor: pointer;
}

.logout-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    background: black;
    border: 1px solid black;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}
/* ユーザー名・ログアウト　ここまで */

/* トップページ　サービス説明 */
.service-contents {
    width: 748px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.service-contents h2 {
    border-left: solid 5px #499292;
    padding: 10px 0px 10px 20px;
    margin: 0px 0px 20px 0px;
    line-height: normal;
    color: #666666;
    background-color: #FCFBFA;
    font-weight: 400;
}
/* トップページ　サービス説明 ここまで */


/* 投稿するページ */
input[type="file"] {
    width: 70%;
    padding: 8px;
}

.stars span{
    display: flex;
    flex-direction: row-reverse; /* 星を逆順に並べる */
    justify-content: center;   /* 逆順なので、左寄せにする */
  }

.stars input[type='radio']{
    display: none;               /* デフォルトのラジオボタンを非表示にする */
}

.stars label{
    color: #D2D2D2;              /* 未選択の星をグレー色に指定 */
    font-size: 30px;             /* 星の大きさを30pxに指定 */
    padding: 0 5px;              /* 左右の余白を5pxに指定 */
    cursor: pointer;             /* カーソルが上に乗ったときに指の形にする */
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
    color: #F8C601;              /* 選択された星以降をすべて黄色にする */
}

.review-delete-button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : red;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid red;    /* 枠の指定 */
}

.review-delete-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : red;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}

.review-send-button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
}

.review-send-button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
}
/* 投稿するページ　ここまで */

/* 評価一覧 */
.review-list {
    border-collapse: collapse;
    text-align: center;
}

.review-list th, td {
    padding: 5px;
    border: 1px solid #333;
}

.review-list th {
    background-color: #2c88d9;
    color: #FFF;
}

.review-list tr td:nth-child(6) {
    text-align: left;
}
/* 評価一覧　ここまで */

/* 編集・削除ボタン */
.review-format div li {
    display: inline;
}

.review-format div li:first-child {
    margin-right: 100px;
}
/* 編集・削除ボタン　ここまで */

.review-list {
    margin-top: 70px;
}


/* フォーム共用 */
.form {
    margin-bottom: 20px;
    border-bottom: 1px dotted gray;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.form a {
    width: 25%;
    float: left;
    clear: both;
    padding: 5px;
}

.form input:not([type="file"]) {
    border: 1px solid gray;
    width: 70%;
    border-radius: 3px;
    padding: 8px;
}

.form textarea {
    border: 1px solid gray;
    width: 70%;
    border-radius: 3px;
    padding: 8px;
    resize: vertical;
}

.form #search_series {
    border: 1px solid gray;
    width: 70%;
    border-radius: 3px;
    padding: 8px;
}

.btn {
    text-align: center;
}

.btn input {
    display: inline-block;
    width: 30%;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.submit {
    background-color: rgb(71, 71, 71);
    margin-left: 30px;
    color: white;
}

.clear {
    background-color: #DFDFDF;
    font-size: 17px;
}

/* お問い合わせフォーム　必須マーク */
.required {
    margin-left: 0.5em;
    padding: 0px 7px 0px 7px;
    border-radius: 4px;
    font-size: 0.7em;
    color: white;
    background-color: #C44;
    content: "必須";
}

/* バリデーション */
.varidation {
    list-style: none;
    width: 270px;
	margin: auto;
	overflow: hidden;
}

.varidation li {
    color: red;
    float: left;
}

/* ペジネーション */
.pager {
    margin: 40px auto;
    width: 100%; }
    .pager ul {
      display: flex;
      margin-right: 45%; }
      .pager ul li:first-child {
        margin-left: auto; }
      .pager ul li {
        text-align: center;
        font-size: 14px;
        margin: 0 2px;
        line-height: 30px;
        list-style: none; }
        .pager ul li a {
          display: block;
          padding: 0 5px;
          color: #000;
          text-decoration: none;
          border: 1px solid #707070;
          display: block;
          min-width: 30px;
          background: #fff; }
      .pager ul li.current a {
        background: #f0f0f0; }

  @media screen and (max-width: 960px) {
    .pager ul li {
      font-size: 13px; } }
/* ペジネーションここまで */

@media screen and (max-width: 960px) {
    .project-title {
        font-size: 40px;
    }
}

